@import "./responsive.scss";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

#app {
  font-family: Rubik, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global Style */
:root {
  --primary: #259875;
  --secondary: #202726;
  --third: #e0e0e0;
  --dark: #0b0f0e;
  --light: #ffffff;
  --error: #f12369;

  --font: "Nunito", sans-serif;
  --textSize: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--light);
  color: var(--dark);
  font-family: var(--font);
  font-size: var(--textSize);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

/* Header Style */
.header {
  background-color: var(--third);

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
  }

  &__container {
    max-width: 1100px;
    margin: 0 auto;
  }

  &__branding {
    display: flex;
    align-items: center;
    gap: 8px;

    & img {
      max-width: 50px;
    }

    & h1 {
      font-size: 24px;
    }
  }

  &__menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 12px;

    & li {
      padding: 4px;
      position: relative;

      &:hover div {
        width: 100%;
      }
    }
    & li a {
      font-weight: 500;
      color: var(--dark);
      text-decoration: none;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: var(--primary);
      }

      &.router-link-exact-active {
        color: var(--primary);
      }
    }

    & li div {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: var(--primary);
      transition: all 0.3s ease-in-out;
    }
  }
}

/* Home Style */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
  gap: 20px;

  div.input-wrap {
    display: flex;
    width: 100%;
    border: 2px solid var(--primary);

    input {
      width: 100%;
      padding: 10px 8px;
      border: none;
      font-size: medium;

      &:focus {
        outline: none;
      }
    }

    button {
      padding: 10px 14px;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      background-color: #e0e0e0;

      &:hover {
        background-color: var(--primary);
        color: var(--light);
      }
    }

    /* Box shadow khi input hoặc button trong .home__input-wrap được focus */
    &:focus-within {
      box-shadow: 0 0 5px rgba(76, 175, 80, 0.7);
    }
  }

  ul.todo-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;

    li {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 16px 10px;
      background-color: #f1f1f1;
      box-shadow: 0 20px 25px -5px #0000001a, 0 8px 10px -6px #0000001a;

      input[type="checkbox"] {
        appearance: none;
        width: 20px;
        height: 20px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;

        &:checked {
          background-color: var(--primary);
        }
      }

      .todo {
        width: fit-content;
        flex: 1;
        word-wrap: break-word;
      }

      .icon {
        display: flex;
        gap: 10px;

        svg {
          cursor: pointer;

          &:first-child {
            fill: var(--primary);
          }

          &:last-child {
            fill: var(--error);
          }
        }
      }
    }
  }
}
